/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.btn-color{
  background-color: #c71549;
  padding:10px;
  color: white;
  border: 0px;
  border-radius: 15px;
  transition:all 0.3s ;
  cursor: pointer;
}
.btn-color:hover{
  background-color: #b81a49;
  color:#35296d ;
  border:inset 1px solid #35296d;
}
.color-main{
  color: #35296d !important;
}
.color-sec{
  color:#35296d !important;
}
.green-circle{
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}
.red-circle{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
